<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>kiyohcustomerreviews</name>
    <displayName><![CDATA[Kiyoh Customer Review]]></displayName>
    <version><![CDATA[1.3.4]]></version>
    <description><![CDATA[Collect and display Kiyoh customer reviews in your shop]]></description>
    <author><![CDATA[klant&shy;en&shy;vertellen]]></author>
    <tab><![CDATA[others]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>